  div {color: blue;
        }
        h2 { color: blue;}

        /* p { color: green;} */

 /* .first { color: green;} */
        /* .second { color: red;} */
        /* #first-heading { color: blue;} */